{% extends 'base.html' %} {% load static %} {% block head_main %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Wening Dyah Locitaresmi | Instagram</title>
<link rel="stylesheet" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
{% endblock %} {% block body_main %}
<div class="landing">
  <h1>I'm sorry, looks like you've went to the wrong page :(</h1>
  <br />
  <p>
    Click <a href="{% url 'homepage:index' %}">this link </a>to go back or click
    <a href="https://www.instagram.com/weninglc/">this link</a> to go to my
    actual Instagram page
  </p>
</div>
{% endblock %}
