{% extends 'base.html' %} {% load static %} {% block head_main %}
<div class="row mr-5 pr-5">
  <div class="col-6 mt-3">
    <a class="navbar-brand" href="#">
      <img src="./images/logo.png" height="100px" alt="" />
    </a>
  </div>
  <div class="col-6 mt-3">
    <div class="nav p-3 justify-content-end">
      <div class="menu">
        <a href="#about">About </a>
        <a href="#projects">Projects </a>
        <a href="#contact">Contact</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
