html {
  font-family: Arial;
}

/* LANDING PAGE SECTION  --FINISHED*/

.landing {
  padding: 30vh;
  min-height: 100vh;
  background-color: #e9e9e9;
}

.landing h1 {
  font-size: 160px;
  font-weight: bold;
}

.landing h6 {
  font-size: 20px;
}

/* Borders */
.border1 {
  height: 5vh;
  background-color: #d45d79;
}
.border2 {
  height: 5vh;
  background-color: #ea9085;
}
.border3 {
  height: 5vh;
  background-color: #c4c4c4;
}

.border4 {
  height: 5vh;
  background-color: white;
}

.quote {
  min-height: 30vh;
  padding: 10vh;
  background-color: white;
}

/* END OF LANDING PAGE SECTION */

/* ABOUT ME SECTION --FINISHED */

#about-me-1 {
  background-color: #514545;
  min-height: 100vh;
  color: white;
  padding-top: 35vh;
  padding-left: 40px;
  padding-right: 40px;
}

#about-me-1 h1 {
  font-size: 70px;
}

#about-me-1 hr {
  border-top: 7px solid #ea9085;
}

#about-me-2 {
  background-color: white;
  min-height: 100vh;
}

#b-1 {
  height: 75vh;
  margin: 0;
  /* background-image: url("/static/fe.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* box-shadow: 0 3000px rgba(5, 2, 19, 0.4) inset; */
}

#b-1 img {
  box-shadow: 0 3000px rgba(5, 2, 19, 0.4) inset;
}

#b-2 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e9e9e9;
  height: 30vh;
  align-items: center;
}

#b-2 p {
  color: #494949;
  text-align: center;
}

#about-me-3 {
  background-color: #514545;
  min-height: 100vh;
  padding: 0;
}

#c-1 {
  padding-right: 20px;
  padding-left: 20px;
  background-color: #e9e9e9;
  height: 30vh;
  align-items: center;
}

#c-1 p {
  color: #494949;
  text-align: center;
}

#c-2 {
  height: 75vh;
  margin: 0;
  background-image: url(./images/manda-rev.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 3000px rgba(5, 2, 19, 0.4) inset;
}

/* END OF ABOUT ME SECTION */

/* ACADEMIC PATH SECTION --FINISHED*/

.academic {
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.academic-list {
  padding-left: 25%;
  padding-right: 25%;
}

.academic h2 {
  font-weight: bold;
}

ol {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

ol ol {
  margin: 0 0 0 2em;
}

.rectangle-list li li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  *padding: 0.4em;
  margin: 0.5em 0 0.5em 2.5em;
  background: #ddd;
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.rectangle-list li li:hover {
  background: #eee;
}

.rectangle-list li li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #ea9085;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.rectangle-list li li:after {
  position: absolute;
  content: "";
  border: 0.5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
  transition: all 0.3s ease-out;
}

.rectangle-list li li:hover:after {
  left: -0.5em;
  border-left-color: #ea9085;
}

#bold {
  font-weight: bold;
}

#un-bold {
  font-weight: normal;
}

/* END OF ACADEMIC PATH SECTION */

/* INTERESTS SECTION --CHANGE INTO ROWS */

.interests {
  min-height: 100vh;
  /* background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(./images/band.jpg); */
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  box-shadow: 0 3000px rgba(5, 2, 19, 0.4) inset;
  padding-top: 25vh;
}

#hr-1 {
  border-top: 17px solid #58508d;
  max-width: 70%;
}

#hr-2 {
  border-top: 17px solid #bc5090;
  max-width: 70%;
}

#hr-3 {
  border-top: 17px solid #ff6361;
  max-width: 50%;
}

.interests h4 {
  font-weight: bold;
  color: white;
}

/* END OF INTERESTS SECTION */

/* PORTFOLIO SECTION */

.portfolio {
  min-height: 100vh;
  padding-top: 10vh;
  background-color: #e9e9e9;
  padding-bottom: 10vh;
}

.portfolio h1 {
  font-size: 70px;
  font-weight: bold;
  /* color: #bc5090; */
  background: -webkit-linear-gradient(45deg, #bc5090, #58508d 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#p-item {
  padding: 0;
}

#p-item img {
  width: 338px;
  height: 338px;
}

.content {
  overflow: hidden;
  position: relative;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom {
  top: 80%;
}

/* END OF PORTFOLIO SECTION */

/* CONTACT SECTION */

.contact {
  min-height: 95vh;
  background-color: #c4c4c4;
  padding-top: 30vh;
}

.contact h5 {
  font-weight: 400;
}

.contact a:hover {
  text-decoration: none;
}

.contact img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

/* END OF CONTACT SECTION */
