html {
  font-family: "Rufina", serif !important;
  overflow-x: hidden;
}

.head {
  height: auto;
  /* min-height: 70vh; */
}

.head img {
  height: 100%;

  width: 100%;
}

#satu {
  background-color: black;
  font-size: 40px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 30px;
}

#satu h4 {
  color: white;
}

#satu h3 {
  color: #f5b230;
}

#satu p {
  font-size: 15px;
  color: white;
}

#dua {
  background-color: #f8f8f8;
  align-items: center;
}

.head2 {
  height: auto;
  min-height: 30vh;
  background-color: black;
  color: white;
}

.head2 img {
  height: 50px;
}

.body {
  background-color: black;
  min-height: 100vh;
  color: white;
}

.body img {
  height: 50px;
}
